@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,100&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');



:root {
  --primary: #ffffff;
  --secondary: #191919;
  --ternary: #65b741;
  --tailwind: #1d232a;
  --anton-font:'Anton', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--secondary);
  font-family: "Poppins", sans-serif;
  color: var(--primary);
  transition: 0.5s ease-in-out all;
}

body.light-theme {
  --primary: #191919;
  --secondary: #ffffff;
  --ternary: #65b741;
  background-color: var(--ternary);

  main {
    background-color: var(--ternary);
    transition: 0.5s ease-in-out all;
  }

  header a span {
    color: var(--primary);
  }
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 999;
}

header a {
  font-size: 1.5rem;
  font-weight: 700;
}

header a span {
  color: var(--ternary);
  font-size: 1.8rem;
}

main {
  padding-top: 10rem;
  background-color: var(--tailwind);
  overflow: hidden;
}

.text-container{
  width: 50%;
}

.text {
  width: 80%;
  margin: 0 auto;
  font-size: 1.2rem;
  margin-top: 6rem;
  text-align: center;
}

main .content {
  padding: 0 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

main .content h1 {
  font-size: 3rem;
  font-weight: 800;
}

.card-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 2rem;
}

.scrolling-text {
  margin-top: 2rem;
  font-size: 5rem;
  white-space: nowrap;
  width: 100vw;
  opacity: 0; 
  transform: translateX(100%); 
  font-family: var(--anton-font);
  overflow-x: hidden;
}
.scrolling-text-two {
  font-size: 5rem;
  white-space: nowrap;
  width: 100vw;
  opacity: 0; 
  transform: translateX(-100%); 
  font-family: var(--anton-font);
  overflow-x: hidden;
}

@media (max-width: 991.98px) { 
  main .content h1{
    font-size: 2.5rem;
  }
  .text-container{
    width: 100%;
  }

  .text-container p{
    padding: 1rem 0;
    margin-bottom: 5rem;
  }
  .scrolling-text {
    margin-top: 2rem;
    font-size: 4rem;
    transform: translateX(50%); 
    width: 100vw;

  }

  .scrolling-text-two {
    font-size: 4rem;
    
    transform: translateX(-50%); 

  }

 
 }